<form method="POST" action="/new">
    <h1>New message</h1>
    <input type="text" name="author" id="author" placeholder="Name">
    <input type="text" name="message" id="message" placeholder="Enter a message">
    <input type="submit" value="Submit">
</form>